body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
}
.portfolio {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
}
.dev {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

.dev h2 {
    text-align: center;
}

.dev:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
    color: inherit;
}